
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
    background-color: #252A2E;
    border: 0px none #444;
    border-top: 0;
    color: #EEEEEC;
    font: 11px Tahoma;
}

#minibuffer-input, #minibuffer-input * {
    color: #EEEEEC;
}

#minibuffer-prompt {
    color: #EEEEEC;
}

/* Completions display */

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
  -moz-appearance: none !important;
  border: 0px none !important;
  border-top: 4px double #333333 !important;
  background-color: #252A2E !important;
  -moz-border-top-colors: -moz-initial !important;
  color: #EEEEEC !important;
}

tree.completions treechildren::-moz-tree-row {
  background-color: #252A2E !important;
  border: none;
}

tree.completions treechildren::-moz-tree-row(current) {
  background-color: #0C191C !important;
  color: #EEEEEC;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
  color: green !important;
  font-weight: bold !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
  color: #EEEEEC !important;
}

