body {
    background-color: #ffffff;
    color: #000000;
    width: 750px;
    margin: 0 auto;
    font-family: Signika;
    font-size: 16px;
    text-align: left;
}

body img {
    max-width: 750px;
}

pre, code, tt {
    font-family: "Fantasque Sans Mono";
    font-size: 16px;
}
