
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
    background-color: #111113;
    border: none;
    color: #EEEEEC;
    font: 17px "Fantasque Sans Mono";
}

#minibuffer-input, #minibuffer-input * {
    color: #EEEEEC;
}

#minibuffer-prompt {
    color: #EEEEEC;
}

/* Completions display */

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
  -moz-appearance: none !important;
  border: 0px none !important;
  background-color: #111113 !important;
  -moz-border-top-colors: -moz-initial !important;
  color: #EEEEEC !important;
  font: 17px "Fantasque Sans Mono";
}

tree.completions treechildren::-moz-tree-row {
  background-color: #111113 !important;
  border: none;
}

tree.completions treechildren::-moz-tree-row(current) {
  background-color: #536580 !important;
  color: #EEEEEC;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
  color: #b8ffa6 !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
  color: #EEEEEC !important;
}
