.mode-line {
    font: 17px "Fantasque Sans Mono";
    padding: 0px;
    border: none;
    color: #EEEEEC;
    background-color: #222224;
}

.mode-line label {
    color: #EEEEEC;
}

.mode-line .buffer-icon-widget {
    max-height: 16px;
    max-width: 16px;
}
