
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* TABS */
#tab2-bar {
    background: #000;
}

#tab2-bar .tab2 {
    margin: 0;
    padding: 0;
    border: none;
    /*height: 19px;
    border: 1px solid #666;
    min-width: 200px;
    max-width: 200px;*/
    background: #333;
    overflow: hidden;
}

#tab2-bar .tab2-label {
    margin: 0;
    color: white;
    font: 11px Tahoma;
}

#tab2-bar .tab2-icon {
    height: 16px;
    width: 16px;
    background: #222;
    color: white;
    border: 1px solid #999;
    font: 900 11px Tahoma;
    text-align: center;
}

#tab2-bar .tab2[selected=true] {
    border: 1px solid white;
    background: #666;
    border: 1px solid #999;
}
